/* General styles */
*{margin:0;padding:0;text-align:center;font-family:"Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif}
body{background-repeat:no-repeat;background-size:contain;min-width:100%;min-height:100vh;background-color:aliceblue}
label,p{border-radius:0.2em;border-color:#e0e0e0;display:block;color:#000;margin-top:1.3em;font-weight:bold}
p{margin:2px 0}
button{max-width:130px;max-height:40px;background:#ff7200;border:none;margin-top:30px;font-size:16px;border-radius:10px;cursor:pointer;color:#fff}
button:hover,.ticket-button:hover{background:#fff;color:#ff7200}
.add-bus-form select,input{display:block;box-shadow:#201f1f 1px 1px 10px;width:80px;margin:2px;padding:2px;border:1px solid #141414;margin-top:5px;border-radius:7%}
nav{padding:10px;display:flex;flex-direction:row}
ul{display:flex;flex-direction:row;justify-content:center;list-style-type:none}
li{padding:1px;text-align:left;color:#1ddd60;text-decoration:none;font-size:1em;font-weight:600;letter-spacing:0.7px;transition:all 0.3s ease-in-out}
li a.active,li a:hover{color:#ed9c62}
.add-bus-form{text-align:center;margin:10px auto;padding:10%;width:80%;max-width:450px}
.add-bus-form label{display:block;color:#565353;margin-top:5px;font-weight:bold}
.add-bus-form select,.add-bus-form input{width:90%;margin-top:2px;transition:width 0.3s ease-in-out}
.add-bus-form button{width:40%;height:40px;background-color:#ff7200;border:none;margin-top:20px;font-size:18px;border-radius:10px;cursor:pointer;color:#fff;transition:background-color 0.3s ease}
.add-bus-form button:hover{background-color:#fff;color:#ff7200}
.container-table{border:none;display:flex;flex-wrap:wrap;gap:20px;text-align:center;justify-content:center;width:95%;margin:1px 0;padding:20px}
th{border:1px solid black;padding:4px;text-align:center;font-size:16px;font-weight:bold}
th:hover{cursor:pointer;transform:translate(5px);box-shadow:5px 5px 10px #141514}
.ticket-button{background:#ff7200;border:none;width:70px;margin:10px auto;height:40px;padding:10px;text-align:center;cursor:pointer;color:#fff;font-weight:bold;border-radius:5px;transition:background-color 0.3s ease}
img{width:120px;height:160px}
.rejected,.invalid{background-color:red;color:rgb(23,22,22)}
.approved,.valid{background-color:#1ddd60;color:rgb(18,17,17)}
.right{border:none;width:100%;max-width:80%;font-size:1.4em}
.personal,.security,.contacts{display:grid;grid-template-columns:1fr;gap:10px;font-size:16px;text-align:center;padding:3px;font-weight:bold}
fieldset{border:none;border-top:1px solid rgb(9,9,9);margin-left:20%;padding:20px}
legend{font-size:1em;text-align:center;margin:0 auto;border:0;padding:0}
.greyText{padding:10px;margin-left:20px;margin-top:5px;color:#737373;font-size:20px;font-weight:700;text-align:left}
/*Date*/
.text-right{font-size:14px;text-align:right;margin-right:2.5vw;transition:margin-right 0.3s ease-in-out}
/* Responsive Design */
/* For tablets and below */
@media (max-width:1080px){.add-bus-form{width:100%}
.add-bus-form select,.add-bus-form input{width:100%;box-shadow:#201f1f 1px 1px 5px}
.right{width:100%;height:auto;border:none}
.personal,.security,.contacts{grid-template-columns:1fr}
li a{font-size:10px}
.text-right{margin-right:2.5vw}
img{width:70px;height:130px}
label,p{display:block;color:#565353;margin-top:1.2em;font-weight:bold}
.greyText{padding:8px;margin-left:15px;margin-top:5px}}
/* For mobile phones */
@media (max-width:480px){nav{padding:1px;display:flex;flex-direction:row;width:100vw}
ul{padding:0;margin:0;list-style-type:none}
li{transition:all 0.3s ease-in-out}
li a,.greyText,legend{font-size:14px}
.add-bus-form{width:100%}
.add-bus-form select,.add-bus-form input{width:100%;box-shadow:#201f1f 1px 1px 5px}
.container-table{width:100%;padding:10px}
th{font-size:14px;padding:2px}
.text-right{margin-right:5vw;font-size:12px}
img{width:60px;height:120px}
label,p{display:block;color:#565353;margin-top:1em;font-weight:bold}
.greyText{padding:5px;margin-left:10px;margin-top:2px}}
